.card {
   width: 216px;
   height: 290px;
   display: block;
   //    border: 1px solid red;
   background: #fff;
   overflow: hidden;
   border: solid 1px #dcdacb;
   border-radius: 3px;
   margin: 15px 15px 0 0;
   position: relative;

   //    background-color: red;
   &:hover {
      cursor: pointer;
      box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
   }
   &--img {
      &__container {
         height: 135px;
         width: 338px;
         overflow: hidden;
         position: relative;
      }
      height: 250px;
      width: 100%;
      position: absolute;
      top: -50%;
      //   width: 240;
      object-fit: cover;
      vertical-align: middle;
   }
   &__body {
      padding: 15px;
      &--title {
         font-weight: 700;
         font-size: 15px;
         color: #29303b;
         margin-bottom: 10px;
      }
      &--description {
         display: block;
         font-size: 12px;
         color: #686f7a;
         margin-bottom: 10px;
      }
      &--price {
         float: right;
         font-size: 18px;
         font-weight: 700;
         color: #009688;
         display: flex;
         align-items: center;
      }
      &--rating {
         font-size: 20px;
         margin-bottom: 0px;
         &--text {
            margin-left: 10px;
            font-size: 13px;
            font-weight: 700;
            color: #505763;
         }
      }
   }
}
@media screen and (max-width: 500px) {
   .card {
      width: 250px;
   }
}
.cards {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
.card {
   flex: 0 1 calc(25% - 4em); // if 4 cards then each card take 25% * 4 = 100 and -1em is space between cards
}

@media screen and (max-width: 1200px) {
   .card {
      flex: 0 1 calc(100% / 4 - 4em);
   }
}
@media screen and (max-width: 1024px) {
   .card {
      flex: 0 1 calc(100% / 3 - 4em);
   }
}
@media screen and (max-width: 768px) {
   .card {
      flex: 0 1 calc(100% / 2 - 4em);
   }
}
@media screen and (max-width: 480px) {
   .card {
      flex: 0 1 100%;
      width: 200px;
      height: 290px - 50px;
      //   width: 100%;
   }
}
