.search__btn--sm--img {
   height: 23px;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   right: 20px;
   outline: none;
}

@media (min-width: 768px) {
   .search__btn--sm {
      display: none;
   }
}
