.carousel {
   max-width: 1200px;
   // text-align: center;
   // margin: auto;
   height: 366px;
   z-index: -1;
   margin: auto auto 15px auto;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   max-width: 100vw;
   position: relative;
   z-index: 0;
   margin-bottom: 40px;
   &-1 {
      background-image: url("/imgs/bg-img-3.jpg");
   }
   &-2 {
      background-image: linear-gradient(90deg, rgba(73, 73, 73, 0.267), rgba(199, 199, 199, 0.26)),
         url("/imgs/dairy_bg.jpg");
   }
   .board {
      background-color: #fff;
      max-width: 440px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
      border: 1px solid #dcdacb;
      position: absolute;
      transform: translateY(-50%);
      padding: 24px;
      line-height: 1.15;
      z-index: 9999;
      &-1 {
         left: 48px;
         top: 50%;
      }
      &-2 {
         right: 48px;
         top: 50%;
      }
   }
   &_form {
      // width: 100%;
      flex: 1 1 100%;
      display: flex;
   }
   &_input {
      flex: 0 0 70%;
      outline: none;
      font-size: 14.5;
      padding: 12px 10px;
      font-family: inherit;
      color: var(--font-color-secondary-sub);
   }
   &_btn {
      outline: none;
      //   height: 10px;
      background-color: var(--primary-color);
      padding: 10px 20px;
      text-align: center;
      color: #fff;
      font-weight: 700;
      border: none;
      border-radius: 0px;
      &:hover {
         cursor: pointer;
      }
   }
}

@media screen and (max-width: 767px) {
   .carousel {
      height: 200px;
   }
   .carousel .board {
      display: none;
   }
}
