.Toastify__toast-container {
   width: 245px;
   border-radius: 50px;
   // height: 40px;
}
.Toastify__toast-body {
   margin: 0;
   height: 10px;
   //    color: #333333;
   text-align: center;
}
.Toastify__toast--dark {
   background-color: rgb(32, 34, 34);
   border: 1px solid #ffffff59;
   border-radius: 4px;
   // opacity: 0.7;
}
.Toastify__toast--success {
   background-color: rgb(226, 238, 228);
   border: 1px solid #dcdabc;
   color: green !important;
   max-height: 40px;
   border-radius: 100px;
}
.Toastify__close-button--success {
   color: #333333;
}
.Toastify__toast {
   min-height: 42px;
}
.Toastify__progress-bar {
   //    display: none;
   height: 1px;
}
